.board {
    width: 800px;
    height: 800px;
    background-image: url("../../../public/assets/board.png");
    background-size: auto;
    position: relative;
}

.piece {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: -webkit-grab;
    z-index: 100;
}

.highlight {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(235, 97, 80, 0.8);
}

.hintSquare {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
}

.hintDot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(20, 85, 30, 0.5);
}

.check {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(216, 10, 44, 0.8);
}

.selectedPiece {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(20, 85, 30, 0.5);
}

.ghost {
    background-color: red;
    opacity: 1;
}